@import "tailwindcss";
@theme {
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-xl: 60rem;
  --breakpoint-xl: 70rem;
  --breakpoint-2xl: 90rem;
}
@theme {
  --color-primary-50: #e7cc89;
  --color-primary-100: #e4c579;
  --color-primary-200: #e1be69;
  --color-primary-300: #deb658;
  --color-primary-400: #daaf48;
  --color-primary-500: #d7a838;
  --color-primary-600: #d1a02a;
  --color-primary-700: #c19327;
  --color-primary-800: #b08723;
  --color-primary-900: #906e1d;
  --color-primary-950: #7f611a;
}
